/* footer */
footer {
    background-color: #FF5E5E;
    color: #ffff;
}

.container a {
    text-decoration: none;
    font-weight: bold;
    color: #ffff;
}

.second-container {
    background-color: #FFE3A9;
    color: #FF5D5D;
}

.second-container .email-title {
    justify-content: end;
}

.second-container .email-banner {
    font-size: 1em;
}

.second-container .email-banner p {
    color: #767676;
}

.second-container .input-group {
    padding-right: 20%;
}

.second-container .email-btn {
    color: #ffff;
    background-color: #FF5D5D;
    border-radius: 5px;
    font-size: 1.3em;
}

.second-container .form-control {
    border-radius: 10px;
    border: 1px solid #FF5D5D;
}

#email-form {
    font-size: 1.5em;
}