header {
    box-shadow: 5px 5px 10px 2px #FFC3C3;
}

.navbar {
    background-color: #ffff;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #FF5D5D;
    font-weight: bold;
    margin: 0px 10vw;
    text-align: center;
}

.navbar .nav-link {
    color: #FF8C8C;
}

.navbar .nav-link:hover {
    color: #000;
}

/* Navbar center*/
.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-item {
    padding: 0px 3em;
}

/* Navbar right*/

.navbar-nav .right-nav-item {
    padding: 2em;
}