* {
    padding: 0;
    margin: 0;
}

.content {
    background-color: #FFF4DD;
    padding: 10px 0;
    padding-top: 2em;
    margin-top: 7em;
}

/* Location */
.content .nav-link {
    color: #000;
    font-weight: normal;
}

.content .nav-link:hover {
    color: #FF8C8C;
}

/* Step */
.content .circle-number-active {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
    border: 3px solid #FF8D8D;
    background-color: #FF8D8D;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.content .circle-number {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
    border: 3px solid #FF8D8D;
    background-color: #fff;
    color: #FF8D8D;
    text-align: center;
    font-size: 20px;
}

.content .container p {
    padding-top: 10px;
    color: #7E7E7E;
}

/* Table main */
.content .table-borderless {
    border-radius: 1em;
    box-shadow: 0 0 0 2px #FFC3C3;
    overflow: hidden;
    color: #767676;
    text-align: center;
}

.content .table thead th {
    background-color: #FF8D8D;
    color: #fff;
}

.content .minus-quantity-btn {
    width: 8%;
    border: none;
    background: #FF8D8D;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content .plus-quantity-btn {
    width: 8%;
    border: none;
    background: #FF8D8D;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content #quantity-input {
    width: 25%;
    text-align: center;
    margin: 0;
    border: none;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content .delete-btn {
    background: none;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.content .delete-btn:hover {
    color: #FFC3C3;
}

.content .coupon {
    border-radius: 10px;
    border: 1px solid #FF8D8D;
    background: #fff;
}

.content .coupon-title {
    text-align: center;
    justify-content: center;
    font-size: 1em;
}

.content .coupon-title i {
    color: #FF5D5D;
}

.content .coupon-input>* {
    flex: auto;
}

.content .coupon-input button {
    color: #ffff;
    background-color: #FF8D8D;
    border-radius: 10px;
    font-size: 1em;
}

.content .coupon-input input {
    border-radius: 10px;
    border: 1px solid #FF8D8D;
}

/* Table sum in table main */
.content .table-sum {
    /* padding: 0 8em; */
    color: #7E7E7E;
}

.content .table-sum .table {
    color: #7E7E7E;
    text-align: center;
    width: 50%;
    margin: auto;
}

.content .table-sum tfoot {
    padding: 0 8em;
    font-weight: bold;
}

/* Action button below table */
.content .action-btn {
    text-align: center;
}

.content #action-buy-btn {
    border: 2px solid #FF8C8C;
    background: #fff;
    border-radius: 10px;
    color: #FF8C8C;
    font-weight: bold;
    width: 70%;
    margin: 0.5em;

}

.content #action-buy-btn:hover {
    color: #000;
}

.content #action-purchase-btn {
    border: 2px solid #FF8C8C;
    background: #FF8C8C;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 70%;
    margin: 0.5em;
}

.content #action-purchase-btn:hover {
    color: #000;
}

.content .warning-text {
    text-align: center;
    margin-bottom: 8em;
}

.content .warning-text p {
    color: #FF5D5D;
    font-weight: bold;
}

/*Cart buy option */
.container .buy-option {
    overflow: hidden;
    max-width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #FFC3C3;
}

.container .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 2px solid #FFC3C3;
    border-radius: 10px;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
}

.slide-controls label.no-login {
    color: #000;
}

.slide-controls .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    background-color: #FF8D8D;
    background-image: linear-gradient(62deg, #FF8D8D 0%, #FF8D8D 100%);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.slide-controls input[type="radio"] {
    display: none;
}

#no-login:checked~.slider-tab {
    left: 50%;
}

#no-login:checked~label.no-login {
    color: #fff;
    cursor: default;
    user-select: none;
}

#no-login:checked~label.login {
    color: #FF8D8D;
}

#login:checked~label.no-login {
    color: #FF8D8D;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.container .form-container {
    width: 95%;
    margin: 1em;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 2px solid #FFC3C3;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form label {
    color: #7E7E7E;
}

.form-inner form .forgot-pass {
    margin-top: 5px;
}

.form-inner form .no-login-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .forgot-pass a {
    color: #FBAB7E;
    text-decoration: none;
}

.form-inner form .btn {
    border: 2px solid #FF8C8C;
    background: #FF8C8C;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

.content #action-complete-btn {
    border: 2px solid #FF8C8C;
    background: #FF8C8C;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 70%;
    margin: 0.5em;
    display: none;
}

.content #action-complete-btn:hover {
    color: #000;
}

.content .table .final-sum {
    color: #FF8D8D;
    font-weight: bold;
    font-size: 1.3em;
}

.table .purchase-method {
    text-align: left;
}

.table .purchase-method label {
    padding-bottom: 0.5em;
}

.content #deliverPolicyTable {
    display: none;
}

.content #methodTable {
    display: none;
}

/* Thank you page */
.thank-you {
    text-align: center;
    padding: 3em;
}

.thank-you p {
    font-size: 2em;
    font-weight: bold;
    color: #FF5D5D !important;
}