* {
    padding: 0;
    margin: 0;
}

.content {
    background-color: #FFF4DD;
    padding: 10px 0;
    padding-top: 2em;
    margin-top: 7em;
}

/* Location */
.content .nav-link {
    color: #000;
    font-weight: normal;
}

.content .nav-link:hover {
    color: #FF8C8C;
}

/* Step */
.content .circle-number-active {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
    border: 3px solid #FF8D8D;
    background-color: #FF8D8D;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.content .circle-number {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 8px;
    border: 3px solid #FF8D8D;
    background-color: #fff;
    color: #FF8D8D;
    text-align: center;
    font-size: 20px;
}

.content .container p {
    padding-top: 10px;
    color: #7E7E7E;
}

/* Table main */
.content .table-main {
    border-radius: 1em;
    box-shadow: 0 0 0 2px #FFC3C3;
    overflow: hidden;
    color: #767676;
    text-align: center;
}

.content .table thead th {
    background-color: #FF8D8D;
    color: #fff;
}

.content .minus-quantity-btn {
    width: 8%;
    border: none;
    background: #FF8D8D;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content .plus-quantity-btn {
    width: 8%;
    border: none;
    background: #FF8D8D;
    color: #fff;
    font-weight: bold;
    border-radius: 0 0.5em 0.5em 0;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content .quantity-input {
    width: 25%;
    text-align: center;
    margin: 0;
    border: none;
    box-shadow: 0 0 0 3px #FF8D8D;
}

.content .delete-btn {
    background: none;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: red;
}

.content .delete-btn:hover {
    color: #FFC3C3;
}

.content .coupon {
    border-radius: 10px;
    border: 1px solid #FF8D8D;
    background: #fff;
}

.content .coupon-title {
    text-align: center;
    justify-content: center;
    font-size: 1em;
}

.content .coupon-title i {
    color: #FF5D5D;
}

.content .coupon-input>* {
    flex: auto;
}

.content .coupon-input button {
    color: #ffff;
    background-color: #FF8D8D;
    border-radius: 10px;
    font-size: 1em;
}

.content .coupon-input input {
    border-radius: 10px;
    border: 1px solid #FF8D8D;
}

/* Table sum in table main */
.content .table-sum {
    /* padding: 0 8em; */
    color: #7E7E7E;
}

.content .table-sum .table {
    color: #7E7E7E;
    text-align: center;
    width: 50%;
    margin: auto;
}

.content .table-sum tfoot {
    padding: 0 8em;
    font-weight: bold;
}

/* */
.content .order-content {
    color: #666666;
}

/* Action button below table */
.content .action-btn {
    text-align: center;
}

.content .action-buy-btn {
    border: 2px solid #FF8C8C;
    background: #fff;
    border-radius: 10px;
    color: #FF8C8C;
    font-weight: bold;
    width: 70%;
    margin: 0.5em;

}

.content .action-purchase-btn {
    border: 2px solid #FF8C8C;
    background: #FF8C8C;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 70%;
    margin: 0.5em;
}

.content .warning-text {
    text-align: center;
    margin-bottom: 8em;
}

.content .warning-text p {
    color: #FF5D5D;
    font-weight: bold;
}

/* Product picture */
.product-picture {
    border-radius: 10px;
}

/* Shipping status */
.shipping-status {
    font-weight: 300;
    font-size: 30px;
    align-items: center;
}
.shipping-status-finished {
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    color: green;
}

.shipping-status-pending {
    font-weight: 600;
    font-size: 30px;
    align-items: center;
    color: red;
}

/* Total format */
.total-format {
    text-align: right;
    font-weight: 400;
    font-size: 32px;
}

.total-price-format {
    color:#FF0000;
}

/* Status line */
.status-line
{
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 32px;
}

/* Status button */
.status-btn {
    width: 11px;
    height: 11px;
    margin: 11px 8px 0 0;
    flex-shrink: 0;
    z-index: 1;
    border-radius: 50%;
    background: #d8d8d8;
}

.status-btn.active {
    background-color: #26aa99;
}

/* Time seperation from status */
.time-seperation {
    width: 120px;
    margin: 0 4px 0 0;
    flex-shrink: 0;
}

/* Time text */
.time-text {
    color: rgba(0, 0, 0, .8)
}

/* Status text */
.status-text {
    color: rgba(0, 0, 0, .54)
}

.status-text.active {
    color: #26aa99;
}

/* Button format */
.content .link-btn {
    color: #666;
}

.content .link-btn:hover {
    color: black;
}

.content .action-btn {
    text-align: center;
}

.content #action-buy-btn {
    border: 2px solid #FF8C8C;
    background: #fff;
    border-radius: 10px;
    color: #FF8C8C;
    font-weight: bold;
    width: 90%;
    margin: 0.5em;
}

.content #action-buy-btn:hover {
    color: #000;
}

.content #action-purchase-btn {
    border: 2px solid #FF8C8C;
    background: #FF8C8C;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    width: 90%;
    margin: 0.5em;
}

.container #action-other-btn {
    background: transparent;
    color: #666;
    border-radius: 10px;
    font-weight: bold;
    width: 100%;
    margin: 0.5em;
}
.content #action-other-btn:hover {
    color: #000;
}

.content #action-purchase-btn:hover {
    color: #000;
}

.content .warning-text {
    text-align: center;
    margin-bottom: 8em;
}

.content .warning-text p {
    color: #FF5D5D;
    font-weight: bold;
}