* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.content {
    background-color: #FFF4DD;
    padding: 10px 0;
    margin-top: 7em;

}

/* Menu */
.content .menu {

    text-align: center;
    margin-bottom: 0.5em;
    padding: 1em;
    background-color: #FF8C8C;
}

.content .menu-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.content .menu-link-active {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.content .menu-link:hover {
    color: #000;
}

/* Location */
.content .nav-link {
    color: #000;
    font-weight: normal;
}

.content .nav-link:hover {
    color: #FF8C8C;
}

.content .product-item {
    text-align: center;
    padding: 1em;
}

.content .product-item img {
    width: 80%;
    height: 60%;
}

.content .product-item-title {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.content .product-item-price {
    font-size: 1em;
    font-weight: bold;
    color: #FF5D5D;
}

.content .product-link {
    color: #000;
}

.content .product-link:hover {
    color: #FF8C8C;
}

.content .product-more {
    text-align: center;
    margin-bottom: 2em;
}

.content .more-btn {
    padding: 10px 20%;
    border: 1px solid #FF8C8C;
    background-color: #FF8C8C;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.content .more-btn:hover {
    background-color: #fff;
    color: #FF8C8C;
}
