@media (min-width: 64em) {
}
/* tablet responsive */
@media (max-width: 63.9375em) and (min-width: 40em) {
    .tablink {
        width: auto;
        padding: 8px 16px;
        font-size: 13px;
    }
    .avatar img {
        width: 150px;
        height: 150px;
    }
    .avatar .btn-main {
        width: 150px;
    }
    .table-order td,
    .table-order th {
        padding: 12px 14px;
        font-size: 15px;
    }
    .table-order td a {
        font-size: 13px;
    }
}
/* Mobile */
@media (max-width: 39em) {
    #account .default,
    #account .change {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #account {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .avatar img {
        width: 300px;
        height: 300px;
    }
    .avatar .btn-main {
        width: 300px;
    }
    input {
        width: 20em;
    }
    .tablink span:last-child {
        display: none;
    }
    .tablink {
        width: 100%;
    }
    .tablink span {
        width: auto;
        padding: 8px 24px;
    }
    .location-link {
        display: none;
    }
    .btn-logout {
        display: flex;
        flex-direction: column;
    }
    .tablist {
        margin-top: 32px;
    }
    #order {
        overflow-y: auto;
    }
    .table-order tr th:nth-of-type(2),
    .table-order tr th:nth-of-type(5) {
        display: none;
    }
    .table-order tr td:nth-of-type(2),
    .table-order tr td:nth-of-type(5) {
        display: none;
    }
    .table-order td,
    .table-order th {
        padding: 12px 14px;
        font-size: 15px;
    }
    .table-order td a {
        font-size: 13px;
    }
}
